.box-container {
    width: 800px;
    height: 524px;
    color: white;
    background-color: rgba(2, 2, 63, 0.3);
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
  }
  .game-container {
    margin: 10px 5px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  .contain {
    display: flex;
    flex-direction: row;
  }
  .general {
    background-color: rgba(2, 2, 63, 0.45);
    flex-direction: column;
    margin: 0 10px;
    padding-bottom: 80px;
  }
  
  .description {
    padding: 10px 0;
    text-align: center;
    margin: 0 10px;
    border-radius: 5px;
    background-color: rgba(2, 2, 63, 0.6);
    font-weight: bold;
    font-size: 15px;
    font-family: Arial, Helvetica, sans-serif;
  }
  
  .level {
    background-color: rgba(2, 2, 63, 0.6);
    flex-direction: column;
    margin: 0 10px;
    padding-bottom: 80px;
    height: 300px;
    display: flex;
    flex: 1;
  }
  .title {
    text-align: center;
    font-weight: bold;
    font-size: 14px;
    margin: 8px 0 5px 0;
    font-family: Arial, Helvetica, sans-serif;
  }
  .score {
    background-color: rgba(2, 2, 63, 0.6);
  flex-direction: column;
  margin: 0 10px;
  padding-bottom: 80px;
    height: 300px;
    flex: 1;
  }
  .style {
    border: none;
    color: aliceblue;
  }
  .btn {
    border: none;
    color: aliceblue;
    background-color: rgba(2, 2, 63, 0.6);
    padding: 15px 11px;
    margin: 10px 15px;
    text-align: left;
    flex: 1;
    cursor: pointer;
  }
  
  .clicked {
    border: none;
    color: aliceblue;
    padding: 15px 11px;
    margin: 10px 15px;
    text-align: left;
    background-color: rgba(1, 1, 30, 0.6);
  }
  .scores {
    border: none;
    color: aliceblue;
    background-color: rgba(2, 2, 63, 0.6);
    padding: 15px;
    margin: 5px 15px;
    text-align: left;

  }
  .play {
    border: none;
    color: aliceblue;
    background-color: rgba(2, 2, 63, 0.7);
    padding: 8px;
    margin: 69px 10px 10px 10px;
    text-transform: uppercase;
    border-radius: 5px;
    align-items: center;
    font-weight: bolder;
  }
  .play:active {
    background-color: rgba(2, 2, 63, 0.7);
  }