
.layout video {
  position: absolute;
  z-index: -1;
  height: 100vh;
  width: 100%;
  left: 0;
  top: 0;
  object-fit: cover;
}
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 30px;
  margin: 30px 60px;
}
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(#010123, 0.4);
  -webkit-transition: 0.4s;
  transition: 0.4s;
}
.slider:before {
  position: absolute;
  content: "";
  height: 27px;
  width: 27px;
  left: 4px;
  bottom: 2.2px;
  background-color: aliceblue;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

input:checked + .slider {
  background-color: rgba(#2196f3, 0.2)
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}